body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 60%;
    padding: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

button:hover { background-color: #b5b5b5; }

h1 {
    text-align: center;
    font-size: 2em;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 20px;
}

/* El estilo del boton de login es distinto */
#loginButton {
    margin-top: 20px;
    border: none;
    background-color: #016dc2;
    color: white;
    font-size: 1em;
}

#loginButton:hover { background-color: #1c5480; }

#myNumber {
    font-size: 2em;
    width: 80%;
    padding: 10px;
    border: 2px solid #016dc2;
    border-radius: 4px;
    margin-bottom: 20px;
}

#radioContainer div label { margin-left: 10px; }
#radioContainer div {
    display: flex;
    align-items: center;
    margin: 16px 4px;
}

#checkboxContainer div label { margin-left: 10px; }
#checkboxContainer div {
    display: flex;
    align-items: center;
    margin: 16px 4px;
}

#answers {
    text-align: left;
    width: 100%;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.min-max-indicator {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.star {
    font-size: 3.5em;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
}

.star.selected {
    color: gold;
}

input[type="text"] {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="radio"]:checked + label {
    transform: scale(1.1);
    background-color: #016dc2;
    color: white;
}

input[type="checkbox"]:checked + label {
    transform: scale(1.1);
    background-color: #016dc2;
    color: white;
}