/* Variables */
:root {
    --font-family: 'Montserrat', sans-serif;
    --background-image: url("/images/background.svg");
    --background-color: #010101;
    --background-color-input: #666666;
    --background-color-button: #3587f2;
    --background-color-button-hover: #1F5191;
    --background-color-button-refuse: #f44336;
    --background-color-button-accept: #4caf50;
    --transition-button: background-color 0.3s;
    --font-size-xsmall: 0.8em;
    --font-size-small: 1em;
    --font-size-medium: 1.25em;
    --font-size-large: 1.5em;
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;
    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-large: 40px;
    --icon-size-xsmall: 15px;
    --icon-size-small: 30px;
    --icon-size-medium: 50px;
    --icon-size-large: 80px;
    --button-size-xsmall: 120px;
    --button-size-small: 150px;
    --button-size-medium: 200px;
    --button-size-large: 220px;
}

body {
    align-items: center;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; flex-direction: column;
    font-family: var(--font-family);
    height: 100vh;
    justify-content: center;
}

form {
    align-items: center;
    background-color: var(--background-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 var(--margin-small) rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--margin-medium);
    width: 40%;
}

button {
    background-color: var(--background-color-button);
    box-sizing: border-box;
    border: none;
    color: white;
    cursor: pointer; transition: var(--transition-button);
}
button:hover { background-color: var(--background-color-button-hover); }

span { font-size: var(--font-size-large); }

h1 {
    color: white;
    font-size: var(--font-size-large);
    font-style: normal;
    max-width: 80%;
    word-wrap: break-word;
}

input[type="text"] {
    font-size: var(--font-size-small);
    padding: var(--margin-small);
    width: 100%; max-width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    margin-bottom: var(--margin-medium);
    word-wrap: break-word;
}

/* Logo de la empresa */
#orbys_logo {
    position: absolute;
    top: 0; left: 0;
    margin: var(--margin-medium) 0 0 var(--margin-large);
    width: 25%; height: auto;
}

/* Logo de la app */
#vote_logo div { width: auto; }
#vote_logo {
    position: relative;
    align-content: center;
    margin: var(--margin-large);
    width: 40%; height: auto;
}

/* Contenedor con la pregunta y el logo del tipo de la pregunta */
#questionForm {
    width: auto; max-width: 60%;
    padding: var(--margin-medium);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Input para introducir el nombre de usuario */
#username {
    width: auto;
    font-size: var(--font-size-small); color: white;
    background-color: var(--background-color-input);
    border: none;
}

/* Input para introducir la respuesta en la pregunta tipo númerico */
#myNumber {
    width: 50%;
    padding: var(--margin-small);
    border: 2px solid var(--background-color-button);
    border-radius: var(--margin-large);
    background-color: var(--background-color);
    color: white; text-align: center;
}

/* Contenedor con las respuestas de la pregunta tipo otros */
#answers label { align-content: center; }
#answers {
    width: 100%; max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xsmall);
    word-wrap: break-word;
}

/* Input para introducir la respuesta en la pregunta tipo otros simple */
#radioContainer div label { margin-left: var(--border-radius-large); }
#radioContainer div {
    display: flex;
    color: white;
    margin: var(--border-radius-medium) var(--border-radius-small);
}

/* Input para introducir la respuesta en la pregunta tipo otros múltiple */
#checkboxContainer div label { margin-left: var(--border-radius-large); }
#checkboxContainer div {
    display: flex;
    color: white;
    margin: var(--border-radius-medium) var(--border-radius-small);
}

/* Contenedor con las respuestas de la pregunta tipo estrellas */
#stars {
    display: flex;
    justify-content: center;
    margin-bottom: var(--border-radius-medium);
}

/* Boton para rechazar una petición del popup */
#btn-refuse {
    padding: var(--margin-small) var(--icon-size-small);
    background-color: var(--background-color-button-refuse);
    border: none; border-radius: var(--margin-large);
}

/* Boton para aceptar una petición del popup */
#btn-accept {
    padding: var(--margin-small) var(--icon-size-small);
    background-color: var(--background-color-button-accept);
    border: none; border-radius: var(--margin-large);
}

#closeButton {
    padding: var(--margin-small);
    margin: var(--margin-small) var(--margin-medium);
    width: var(--button-size-medium);
    box-sizing: border-box;
    border: 1px solid var(--background-color-button);
    border-radius: var(--margin-large);
    font-size: var(--font-size-xsmall); color: white;
    background-color: var(--background-color-button);
    cursor: pointer; transition: var(--transition-button);
}

/* Clase para ocultar algún elemento */
.hidden { display: none; }

/* Clase para aplicar el estilo a una respuesta de tipo estrella */
.star {
    width: var(--icon-size-large); height: auto;
    margin: var(--margin-small) var(--margin-small);
}

/* Clase para ordenar elementos dentro del formulario de forma horizontal */
.rowGroup {
    display: flex; flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Muestra el número máximo y el mínimo que podemos introducir en la pregunta tipo númerico */
.min-max-indicator {
    font-size: var(--font-size-large);
    color: var(--background-color-button);
    margin-bottom: var(--margin-small);
}

/* Clase para aplicar el estilo sobre el icono del tipo de la pregunta */
.type_icon {
    width: var(--icon-size-xsmall); height: auto;
    margin: 0 var(--margin-medium) 0 var(--margin-small);
}

/* Clase para aplicar el estilo al icono del tipo de mensaje para el popup */
.logo {
    width: var(--icon-size-medium); height: auto;
    margin-bottom: var(--margin-medium);
}

/* Clase para crear un triangulo */
#triangulo {
    position: relative;
    border-top: var(--icon-size-small) solid;
    border-right: var(--icon-size-small) solid transparent;
    border-left: var(--icon-size-small) solid transparent;
    height: 0; width: 0;
    margin-bottom: var(--margin-medium);
}

/* RESPONSIVE PARA MOVIL EN HORIZONTAL */
@media (max-width: 600px) and (orientation: portrait) {
    form { width: 80%;  }
    span { font-size: var(--font-size-small); }
    h1 { font-size: var(--font-size-small); }
    button {
        width: var(--button-size-small);
        padding: var(--margin-small);
        margin: var(--margin-small) var(--margin-medium);
        border-radius: var(--margin-medium);
        font-size: var(--font-size-small);
    }

    #questionForm { max-width: 70%; }
    #closeButton {
        padding: var(--margin-small);
        width: var(--button-size-small);
        border-radius: var(--margin-medium);
    }
    #triangulo {
        border-top: var(--margin-medium) solid;
        border-right: var(--margin-medium) solid transparent;
        border-left: var(--margin-medium) solid transparent;
    }

    .star { width: var(--icon-size-medium); margin: 0 5px;}
    .min-max-indicator { font-size: var(--font-size-small); }
}

/* RESPONSIVE PARA TABLETS */
@media (min-width: 600px) and (orientation: portrait) {
    form { width: 70%; padding: var(--icon-size-small); }
    button {
        padding: var(--margin-small);
        width: var(--button-size-large);
        border-radius: var(--margin-large);
        font-size: var(--font-size-large);
    }

    #username { font-size: var(--font-size-medium); }
    #myNumber { font-size: var(--font-size-medium); }
    #radioContainer div { font-size: var(--font-size-large); margin: var(--margin-small) var(--border-radius-large); }
    #checkboxContainer div { font-size: var(--font-size-large); margin: var(--margin-small) var(--border-radius-large); }
    #btn-refuse { padding: var(--margin-small) var(--margin-large); }
    #btn-accept { padding: var(--margin-small) var(--margin-large);}

    .type_icon { width: var(--icon-size-small); }
}

/* RESPONSIVE PARA MOVIL EN VERTICAL */
@media (max-width: 800px) and (orientation: landscape) {
    h1 { font-size: var(--font-size-xsmall); max-width: 90%; }
    span { font-size: var(--font-size-medium); }
    form: { padding: var(--margin-small); }
    button {
        width: var(--button-size-xsmall);
        padding: var(--margin-small);
        margin: var(--margin-small) var(--margin-small);
        border-radius: var(--margin-medium);
        font-size: var(--font-size-xsmall);
    }

    #orbys_logo { margin-top: var(--margin-small); width: 10%; }
    #vote_logo { display: none; }
    #btn-refuse { font-size: var(--font-size-xsmall); }
    #btn-accept { font-size: var(--font-size-xsmall); }
    #radioContainer div { font-size: var(--font-size-xsmall); }
    #checkboxContainer div { font-size: var(--font-size-xsmall); }
    #closeButton {
        width: var(--button-size-small);
        padding: var(--margin-small);
        margin: var(--margin-small) var(--margin-small);
        border-radius: var(--margin-medium);
    }

    .min-max-indicator { font-size: var(--font-size-xsmall); }
    .star { width: var(--margin-large); margin: 0 5px; }
}

/* RESPONSIVE PARA MONITORES */
@media (min-width: 800px) and (orientation: landscape) {
    h1 { max-width: 90%; }
    button {
        width: var(--button-size-large);
        padding: var(--margin-small);
        border-radius: var(--margin-large);
        font-size: var(--font-size-large);
    }

    #orbys_logo { margin-top: var(--margin-small); width: 10%; }
    #vote_logo { width: 20%; }
    #questionForm { max-width: 55%; }
    #username { font-size: var(--font-size-medium); }
    #myNumber { font-size: var(--font-size-large); }
    #radioContainer div { font-size: var(--font-size-large); margin: var(--border-radius-large) var(--icon-size-medium); }
    #checkboxContainer div { font-size: var(--font-size-large); margin: var(--border-radius-large) var(--icon-size-medium); }
    #btn-refuse { padding: var(--margin-small) var(--margin-large); }
    #btn-accept { padding: var(--margin-small) var(--margin-large);}

    .type_icon { width: var(--icon-size-small); margin: 0 var(--icon-size-small) 0 var(--margin-small); }
}