body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #010101;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #3587f2;
    border-radius: 20px;
    color: white;
    background-color: #3587f2;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover { background-color: #1F5191; }

span { font-size: 1.25em; }

h1 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 20px;
}

img {
    display: flex;
    width: 50%;
    height: auto;
    margin: 0 auto 0px;
}

img.logo {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

#orbys_logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    width: 40%;
    height: auto;
}

#vote_logo {
    position: relative;
    top: 0;
    margin-bottom: 30px;
    width: 80%;
    height: auto;
}

/* El estilo del boton de login es distinto */
#loginButton {
    border: none;
    background-color: #016dc2;
    color: white;
    font-size: 1em;
}

#loginButton:hover { background-color: #1c5480; }

#myNumber {
    width: 50%;
    padding: 10px;
    border: 2px solid #3587f2;
    border-radius: 40px;
    background-color: #010101;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#radioContainer div label {
    margin-left: 16px;
}
#radioContainer div {
    display: flex;
    color: white;
    accent-color: #3587f2;
    border-block-color: #3587f2;
    align-items: center;
    margin: 16px 4px;
}

#checkboxContainer div label { margin-left: 16px; }
#checkboxContainer div {
    display: flex;
    accent-color: #3587f2;
    color: white;
    margin: 16px 4px;
}

#answers {
    text-align: left;
    width: 100%;
    font-size: 0.8em;
    max-width: 100%;
    word-wrap: break-word;
}

#stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#btn-refuse {
    padding: 10px 30px;
    background-color: #f44336;
    border: none;
    border-radius: 40px;
}

#btn-accept {
    padding: 10px 30px;
    background-color: #4caf50;
    border: none;
    border-radius: 40px;
}

.star {
    width: 50px;
    height: auto;
    margin: 0 5px;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.min-max-indicator {
    font-size: 1em;
    color: #3587f2;
    margin-bottom: 10px;
}

.type_icon {
    width: 30px;
    height: auto;
}

.triangulo {
    border-top:30px solid #010101;
    border-right:30px solid transparent;
    border-left:30px solid transparent;
    height:0;
    width:0;
}

input[type="text"] {
    font-size: 0.8em;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 100%;
    word-wrap: break-word;
}