<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<!-- Imagen del logo de Orbys -->
    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>
    <script src="../js/utils.js"></script>

    <script>
        const errorIcon = "[ERROR_TYPE]" == 3 || "[ERROR_TYPE]" == 5 ? "timeout.svg" : "error.svg";
        const errorPopup = createInfoPopup(errorIcon, "[POPUP_CONTENT]", "[CLOSE]", true);

        // Muestra el pop-up inmediatamente cuando se carga la página
        errorPopup.show();
    </script>

</body>
</html>