<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #username {
            width: 70%;
            background-color: #666666;
            border: none;
            color: white;
        }
    </style>
</head>
<body>

    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <div id="vote_logo">
        <img src="../images/vote.svg" alt="QUIZ">
    </div>

    <form id="myForm">
        <h1 id="questionText">[LOGIN_TITLE]</h1>
        <br>

        <label for="username"></label>
        <input type="text" id="username" name="username" maxlength="10" placeholder="[USER_HINT]" required>
        <br>

        <button id="loginButton" type="submit">Acceder</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>

    <script>
        const alertPopup = new Popup(
            {
                id: "popup_message",
                title: " ",
                textColor: "#FFFFFF",
                backgroundColor: "#010101",
                content: `<img src="../images/error.svg" alt="ERROR" class="logo">
                                <span><strong>[USER_ALREADY_EXISTS]</strong></span>
                                <button id="closeButton" type="submit">      [CLOSE]      </button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("closeButton")
                        .addEventListener("click", () => {
                            alertPopup.hide();
                    });
                },
            }
        );

        // El código se ejecuta cuando pulso el botón enviar
        document.getElementById('myForm').onsubmit = function(event) {
            // Evita que se envíen datos vacíos o por defecto
            event.preventDefault();

            // Obtenemos el nombre de usuario del campo de entrada
            var username = document.getElementById('username').value;

            // Realizamos la petición al servidor
            fetch(
                '/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'user=' + encodeURIComponent(username)
                }
            )
                .then( response => {
                // Si recibimos un error 409, mostramos un pop-up con el mensaje de error
                if (response.status === 409) {
                    alertPopup.show();
                    return Promise.reject(new Error('Error en la respuesta del servidor'));
                }
                // Cualquier otro error lo notificamos
                if (!response.ok) return Promise.reject(new Error('Error en la respuesta del servidor'));
                return response.text();
            })
                .then(text => {
                // Si la respuesta es correcta, redirigimos a la página de la pregunta
                window.location.href = '/question';
                history.pushState(null, null, '/question');
            })
                .catch(error => console.error(error));
        };

        // Impide que el usuario pueda volver después de hacer login
        window.onload = function() {
            window.history.replaceState({}, document.title, "/question");
        }
    </script>

</body>
</html>