<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <div id="vote_logo">
        <img src="../images/vote.svg" alt="QUIZ">
    </div>

    <form id="myForm">
        <div style="text-align: center">
            <div class="min-max-indicator">Min: 1, Max: [MAX_ANSWER]</div>
            <label for="myNumber"></label><input type="number" min="1" max="[MAX_ANSWER]" value="1" id="myNumber">
        </div>
        <br>
        <button type="submit">[SEND]</button>
    </form>

    <div id="triangulo"></div>

    <form id="questionForm" style="flex-direction: row; padding: 10px;">
        <img class="type_icon" src="../images/numeric.svg" alt="NUMERIC">
        <h1 id="questionText">[QUESTION]</h1>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>

    <script>
        const infoPopup = new Popup(
            {
                id: "popup_message",
                textColor: "#FFFFFF",
                widthMultiplier: window.innerWidth > window.innerHeight ? 0.8 : 0.9,
                heightMultiplier: window.innerWidth > window.innerHeight ? 0.1 : 0.4,
                backgroundColor: "#010101",
                css: `
                    #closeButton { padding: 5px; margin: 10px 20px; width: 120px; box-sizing: border-box;
                        border: 1px solid #3587f2; border-radius: 20px; color: white; background-color: #3587f2;
                        cursor: pointer; font-size: 0.8em; transition: background-color 0.3s;
                    }

                    @media (max-width: 800px) and (orientation: landscape) {
                        #closeButton { margin: 5px 10px; width: 150px; font-size: 0.8em; }
                    }

                    @media (min-width: 600px) and (orientation: portrait) {
                        #closeButton { padding: 10px; width: 200px; border-radius: 40px; }
                    }

                    @media (min-width: 800px) and (orientation: landscape) {
                        #closeButton { padding: 10px; width: 200px; border-radius: 40px; }
                    }
                `,
                title: " ",
                content: `<img src="../images/success.svg" alt="SUCCESS" class="logo">
                                <span><strong> [SUCCESS_MESSAGE] </strong></span>
                                <button id="closeButton" type="submit">      [CLOSE]      </button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("closeButton")
                        .addEventListener("click", () => {
                        window.close();
                        window.location.href = 'https://www.google.com';
                    });
                },
            }
        );

        const confirmPopup = new Popup(
            {
                id: "popup_confirm",
                textColor: "#FFFFFF",
                widthMultiplier: window.innerWidth > window.innerHeight ? 0.8 : 0.9,
                heightMultiplier: window.innerWidth > window.innerHeight ? 0.1 : 0.4,
                backgroundColor: "#010101",
                title: " ",
                content: `
                <img src="../images/alert.svg" alt="ALERT" class="logo">
                <span><strong>[CONFIRM_MESSAGE]</strong></span>
                <button id="btn-refuse">No</button>       <button id="btn-accept">Si</button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("btn-refuse")
                        .addEventListener("click", () => {
                        infoPopup.show();
                        confirmPopup.hide();
                    });

                    document
                        .getElementById("btn-accept")
                        .addEventListener("click", () => {
                        confirmPopup.hide();
                        document.getElementById('myForm').classList.remove('hidden');
                        document.getElementById('triangulo').classList.remove('hidden');
                        document.getElementById('questionForm').classList.remove('hidden');
                    });
                },
            }
        );

        // El codigo se ejecuta cuando pulso el boton enviar
        document.getElementById('myForm').onsubmit = function(event) {
            // Evita que se envien datos vacios o por defecto
            event.preventDefault();

            // Obtenemos el valor del campo de texto
            var choice = document.getElementById('myNumber').value;

            // Realizamos la peticion al servidor
            fetch(
                '/submit', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'choice=' + encodeURIComponent(choice),
                }
            )   // Si la respuesta es correcta la almacenamos. Si no, mostramos un error
                .then(response => response.ok ? response.text() : Promise.reject('Error en la respuesta del servidor'))
                .then(text => {
                    // Si la respuesta es multiple, mostramos un popup por si el usuario quiere seguir contestando
                    if ("MULTIPLE_ANSWERS_PLACEHOLDER" == "multiple") {
                        document.getElementById('myForm').classList.add('hidden');
                        document.getElementById('triangulo').classList.add('hidden');
                        document.getElementById('questionForm').classList.add('hidden');
                        confirmPopup.show();
                    }
                    else {
                        document.getElementById('myForm').classList.add('hidden');
                        document.getElementById('triangulo').classList.add('hidden');
                        document.getElementById('questionForm').classList.add('hidden');
                        infoPopup.show();
                    }
                })
                .catch(console.error);
        };

    </script>

</body>
</html>