<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <div id="vote_logo">
        <img src="../images/vote.svg" alt="QUIZ">
    </div>

    <form id="myForm">
        <img class="type_icon" src="../images/others.svg" alt="OTHERS">

        <h1 id="questionText">[QUESTION]</h1>
        <br>

        <div id="answers">
            <!-- Los botones de las preguntas con respuesta única se generarán aquí -->
            <div id="radioContainer"></div>

            <!-- Los checkboxes de las preguntas con respuesta multiple se generarán aquí -->
            <div id="checkboxContainer"></div>
        </div>
        <br>

        <button type="submit">[SEND]</button>
    </form>

    <!-- Script para crear los botones para seleccionar las respuestas -->
    <script>
        // Lista con las respuestas de la pregunta
        var answers = "ANSWERS_STRING_PLACEHOLDER".split(";");

        // Los div donde se van a poner los botones
        var radioDiv = document.getElementById('radioContainer');
        var checkboxDiv = document.getElementById('checkboxContainer');

        // Si la pregunta es de respuesta única
        if ("MULTIPLE_CHOICES_PLACEHOLDER" == "single") {

            for (var i = 0; i < answers.length; i++) {
                // Creamos un boton de radio por cada respuesta
                var radioButton = document.createElement('input');
                radioButton.type = 'radio';
                radioButton.name = 'choice';
                radioButton.value = answers[i];
                radioButton.id = 'btn' + i;

                var label = document.createElement('label');
                label.htmlFor = radioButton.id;
                label.textContent = answers[i];

                // Creamos un nuevo div para contener el radio button y su etiqueta
                var div = document.createElement('div');
                div.appendChild(radioButton);
                div.appendChild(label);

                radioDiv.appendChild(div);
            }

            // Obtiene el valor del boton seleccionado
            var radios = document.querySelectorAll('input[type="radio"]');
            radios.forEach(function(radio) {
                radio.addEventListener('click', function() {
                    this.dataset.checked = this.checked ? 'true' : 'false';
                });
            });

        // Si la pregunta es de respuesta multiple
        } else {

            for (var i = 0; i < answers.length; i++) {
                // Creamos un checkbox por cada respuesta
                var checkboxButton = document.createElement('input');
                checkboxButton.type = 'checkbox';
                checkboxButton.name = 'choice';
                checkboxButton.value = answers[i];
                checkboxButton.id = 'btn' + i;

                var label = document.createElement('label');
                label.htmlFor = checkboxButton.id;
                label.textContent = answers[i];

                // Creamos un nuevo div para contener el checkbox y su etiqueta
                var div = document.createElement('div');
                div.appendChild(checkboxButton);
                div.appendChild(label);

                checkboxDiv.appendChild(div);
            }

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>

    <!-- Script para gestionar las respuestas que envia el usuario -->
    <script>
        const infoPopup = new Popup(
            {
                id: "popup_message",
                textColor: "#FFFFFF",
                backgroundColor: "#010101",
                title: " ",
                content: `<img src="../images/success.svg" alt="SUCCESS" class="logo">
                                <br><br>

                                <span><strong> [SUCCESS_MESSAGE] </strong></span>
                                <button id="closeButton" type="submit">      [CLOSE]      </button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("closeButton")
                        .addEventListener("click", () => {
                        window.close();
                        window.location.href = 'https://www.google.com';
                    });
                },
            }
        );

        const confirmPopup = new Popup(
            {
                id: "popup_confirm",
                textColor: "#FFFFFF",
                backgroundColor: "#010101",
                title: " ",
                content: `
                <img src="../images/alert.svg" alt="ALERT" class="logo">
                                <br><br>
                <span><strong>[CONFIRM_MESSAGE]</strong></span>
                <br>
                <button id="btn-refuse">No</button>                   <button id="btn-accept">Si</button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("btn-refuse")
                        .addEventListener("click", () => {
                            infoPopup.show();
                            confirmPopup.hide();
                    });

                    document
                        .getElementById("btn-accept")
                        .addEventListener("click", () => {
                            confirmPopup.hide();
                    });
                },
            }
        );

        // El codigo se ejecuta cuando pulso el boton enviar
        document.getElementById('myForm').onsubmit = function(event) {
            // Evita que se envien datos vacios o por defecto
            event.preventDefault();

            // Obtenemos el valor de los botones seleccionado
            var choices = Array.from(document.querySelectorAll('input[name="choice"]:checked')).map(input => input.value);

            // Realizamos la peticion al servidor
            fetch(
                '/submit', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'choice=' + encodeURIComponent(choices.join(';')),
                }
            )   // Si la respuesta es correcta la almacenamos. Si no, mostramos un error
                .then(response => response.ok ? response.text() : Promise.reject('Error en la respuesta del servidor'))
                .then(text => {
                    // Si la respuesta es multiple, mostramos un popup por si el usuario quiere seguir contestando
                    if ("MULTIPLE_ANSWERS_PLACEHOLDER" == "multiple") confirmPopup.show();
                    else infoPopup.show();
                })
                .catch(console.error);
        };

    </script>

</body>
</html>