<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        input[type="checkbox"] {
            appearance: none;
            width: 20px;
            height: 20px;
            align-items: center;
            background: url('../images/empty_checkbox.svg') no-repeat center center;
            cursor: pointer;
        }

        input[type="checkbox"]:checked {
            background: url('../images/filled_checkbox.svg') no-repeat center center;
        }

        input[type="radio"] {
            appearance: none;
            width: 20px;
            height: 20px;
            align-items: center;
            background: url('../images/empty_radio.svg') no-repeat center center;
            cursor: pointer;
        }

        input[type="radio"]:checked {
            background: url('../images/filled_radio.svg') no-repeat center center;
        }

        @media (max-width: 800px) and (orientation: landscape) {
            input[type="checkbox"] { width: 15px; height: 15px;}
            input[type="radio"] { width: 15px; height: 15px; }
        }

        @media (min-width: 600px) and (orientation: portrait) {
            input[type="checkbox"] { width: 25px; height: 25px;}
            input[type="radio"] { width: 25px; height: 25px; }
        }
    </style>
</head>
<body>

    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <div id="vote_logo">
        <img src="../images/vote.svg" alt="QUIZ">
    </div>

    <form id="myForm">
        <div id="answers">
            <!-- Los botones de las preguntas con respuesta única se generarán aquí -->
            <div id="radioContainer"></div>

            <!-- Los checkboxes de las preguntas con respuesta multiple se generarán aquí -->
            <div id="checkboxContainer"></div>
        </div>
        <button type="submit">[SEND]</button>
    </form>

    <div id="triangulo"></div>

    <form id="questionForm" style="flex-direction: row; padding: 10px;">
        <img class="type_icon" src="../images/others.svg" alt="OTHERS">
        <h1 id="questionText">[QUESTION]</h1>
    </form>

    <!-- Script para crear los botones para seleccionar las respuestas -->
    <script>
        // Lista con las respuestas de la pregunta
        var answers = "ANSWERS_STRING_PLACEHOLDER".split(";");

        // Los div donde se van a poner los botones
        var radioDiv = document.getElementById('radioContainer');
        var checkboxDiv = document.getElementById('checkboxContainer');

        // Si la pregunta es de respuesta única
        if ("MULTIPLE_CHOICES_PLACEHOLDER" == "single") {

            for (var i = 0; i < answers.length; i++) {
                // Creamos un boton de radio por cada respuesta
                var radioButton = document.createElement('input');
                radioButton.type = 'radio';
                radioButton.name = 'choice';
                radioButton.value = answers[i];
                radioButton.id = 'btn' + i;

                var label = document.createElement('label');
                label.htmlFor = radioButton.id;
                label.textContent = answers[i];

                // Creamos un nuevo div para contener el radio button y su etiqueta
                var div = document.createElement('div');
                div.appendChild(radioButton);
                div.appendChild(label);

                radioDiv.appendChild(div);
            }

            // Obtiene el valor del boton seleccionado
            var radios = document.querySelectorAll('input[type="radio"]');
            radios.forEach(function(radio) {
                radio.addEventListener('click', function() {
                    this.dataset.checked = this.checked ? 'true' : 'false';
                });
            });

        // Si la pregunta es de respuesta multiple
        } else {

            for (var i = 0; i < answers.length; i++) {
                // Creamos un checkbox por cada respuesta
                var checkboxButton = document.createElement('input');
                checkboxButton.type = 'checkbox';
                checkboxButton.name = 'choice';
                checkboxButton.value = answers[i];
                checkboxButton.id = 'btn' + i;

                var label = document.createElement('label');
                label.htmlFor = checkboxButton.id;
                label.textContent = answers[i];

                // Creamos un nuevo div para contener el checkbox y su etiqueta
                var div = document.createElement('div');
                div.appendChild(checkboxButton);
                div.appendChild(label);

                checkboxDiv.appendChild(div);
            }

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>

    <!-- Script para gestionar las respuestas que envia el usuario -->
    <script>
        const infoPopup = new Popup(
            {
                id: "popup_message",
                textColor: "#FFFFFF",
                widthMultiplier: window.innerWidth > window.innerHeight ? 0.5 : 1,
                heightMultiplier: window.innerWidth > window.innerHeight ? 0.1 : 0.4,
                backgroundColor: "#010101",
                css: `
                    #closeButton { padding: 5px; margin: 10px 20px; width: 150px; box-sizing: border-box;
                        border: 1px solid #3587f2; border-radius: 20px; color: white; background-color: #3587f2;
                        cursor: pointer; font-size: 1em; transition: background-color 0.3s;
                    }

                    @media (max-width: 800px) and (orientation: landscape) {
                        #closeButton { padding: 5px; margin: 5px 10px; width: 120px; font-size: 0.5em; }
                    }
                `,
                title: " ",
                content: `<img src="../images/success.svg" alt="SUCCESS" class="logo">
                                <span><strong> [SUCCESS_MESSAGE] </strong></span>
                                <button id="closeButton" type="submit">      [CLOSE]      </button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("closeButton")
                        .addEventListener("click", () => {
                        window.close();
                        window.location.href = 'https://www.google.com';
                    });
                },
            }
        );

        const confirmPopup = new Popup(
            {
                id: "popup_confirm",
                textColor: "#FFFFFF",
                widthMultiplier: window.innerWidth > window.innerHeight ? 0.5 : 1,
                heightMultiplier: window.innerWidth > window.innerHeight ? 0.1 : 0.4,
                backgroundColor: "#010101",
                title: " ",
                content: `
                <img src="../images/alert.svg" alt="ALERT" class="logo">
                <span><strong>[CONFIRM_MESSAGE]</strong></span>
                <button id="btn-refuse">No</button>       <button id="btn-accept">Si</button>`,
                textShadow: "0 0 .3em #000000bb",
                allowClose: false,
                loadCallback: () => {
                    document
                        .getElementById("btn-refuse")
                        .addEventListener("click", () => {
                            infoPopup.show();
                            confirmPopup.hide();
                    });

                    document
                        .getElementById("btn-accept")
                        .addEventListener("click", () => {
                            confirmPopup.hide();
                            document.getElementById('myForm').classList.remove('hidden');
                            document.getElementById('triangulo').classList.remove('hidden');
                            document.getElementById('questionForm').classList.remove('hidden');
                    });
                },
            }
        );

        // El codigo se ejecuta cuando pulso el boton enviar
        document.getElementById('myForm').onsubmit = function(event) {
            // Evita que se envien datos vacios o por defecto
            event.preventDefault();

            // Obtenemos el valor de los botones seleccionado
            var choices = Array.from(document.querySelectorAll('input[name="choice"]:checked')).map(input => input.value);

            // Realizamos la peticion al servidor
            fetch(
                '/submit', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'choice=' + encodeURIComponent(choices.join(';')),
                }
            )   // Si la respuesta es correcta la almacenamos. Si no, mostramos un error
                .then(response => response.ok ? response.text() : Promise.reject('Error en la respuesta del servidor'))
                .then(text => {
                    // Si la respuesta es multiple, mostramos un popup por si el usuario quiere seguir contestando
                    if ("MULTIPLE_ANSWERS_PLACEHOLDER" == "multiple") {
                        confirmPopup.show();
                        document.getElementById('myForm').classList.add('hidden');
                        document.getElementById('triangulo').classList.add('hidden');
                        document.getElementById('questionForm').classList.add('hidden');
                    } else {
                        infoPopup.show();
                        document.getElementById('myForm').classList.add('hidden');
                        document.getElementById('triangulo').classList.add('hidden');
                        document.getElementById('questionForm').classList.add('hidden');
                    }
                })
                .catch(console.error);
        };

    </script>

</body>
</html>