<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORBYS Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="orbys_logo">
        <img src="../images/orbys.svg" alt="ORBYS">
    </div>

    <div id="vote_logo">
        <img src="../images/vote.svg" alt="QUIZ">
    </div>

    <form id="myForm">
        <div id="stars">
            <img class="star" data-value="[ANSWER0]" src="../images/empty_star.svg" alt="STAR">
            <img class="star" data-value="[ANSWER1]" src="../images/empty_star.svg" alt="STAR">
            <img class="star" data-value="[ANSWER2]" src="../images/empty_star.svg" alt="STAR">
            <img class="star" data-value="[ANSWER3]" src="../images/empty_star.svg" alt="STAR">
            <img class="star" data-value="[ANSWER4]" src="../images/empty_star.svg" alt="STAR">
        </div>
        <br>

        <button type="submit">[SEND]</button>
    </form>

    <div id="triangulo"></div>

    <form id="questionForm">
        <img class="type_icon" src="../images/stars.svg" alt="STARS">
        <h1 id="questionText">[QUESTION]</h1>
    </form>

    <script>
        // Añade un evento de clic a cada estrella
        document.querySelectorAll('.star').forEach(function(star, index, starList) {
            star.addEventListener('click', function() {
                // Por defecto todas las estrellas no están seleccionadas
                starList.forEach(function(otherStar) {
                    otherStar.classList.remove('selected');
                    otherStar.src = "../images/empty_star.svg"; // Cambia la imagen a estrella vacía
                });

                // Al seleccionar una estrella, se seleccionan también las anteriores
                for (let i = 0; i <= index; i++) {
                    starList[i].classList.add('selected');
                    starList[i].src = "../images/filled_star.svg"; // Cambia la imagen a estrella llena
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>
    <script src="../js/utils.js"></script>

    <script>
        const successPopup = createInfoPopup("success.svg", "[SUCCESS_MESSAGE]", "[CLOSE]");

        // El codigo se ejecuta cuando pulso el boton enviar
        document.getElementById('myForm').onsubmit = function(event) {
            // Evita que se envien datos vacios o por defecto
            event.preventDefault();
            // Obtenemos el valor de las estrellas seleccionadas
            var stars = document.querySelectorAll('.star.selected');
            var choice = stars[stars.length - 1].getAttribute('data-value');

            // Realizamos la peticion al servidor
            fetch(
                '/submit', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'choice=' + encodeURIComponent(choice),
                }
            )   // Si la respuesta es correcta la almacenamos. Si no, mostramos un error
                .then(response => response.ok ? response.text() : Promise.reject('Error en la respuesta del servidor'))
                // Si la respuesta es correcta, mostramos un pop-up con el mensaje de éxito
                .then(text => {
                    hideElements();
                    successPopup.show();
                })
                .catch(console.error);
        };
    </script>

</body>
</html>