<!DOCTYPE html>
<html lang="en">
<head>
    <title>School Quizz</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <form id="myForm">
        <br><br>
        <div>
            <input type="radio" id="btn1" name="choice" value="Si">
            <label for="btn1">Si</label>
            <input type="radio" id="btn2" name="choice" value="No">
            <label for="btn2">No</label>
        </div>
        <br><br>

        <button type="submit">Enviar</button>
    </form>

<script src="script.js"></script>
</body>
</html>